@media (min-width:700px) {
    body {
        overflow-x: hidden;
    }
    .menu-mobile {
        display: none;
    }
    
    header .nav-list {
        position: relative;
        transform: translateX(0); 
        background: none;
        flex-direction: row;
        top: 0;
        height: auto;
        right: auto;
        justify-content: space-around;
        width: 100%;
        display: flex;
        
    }
    header .nav-list li {
        opacity: 1;
        
    }
    header .nav-list li a {
        font-size: 1.6rem;
    }
    .fundo .intro-his {
        padding-right: 50vw;
    }
    .intro-his h1 {
        font-size: 8rem;
    }
    .fundo .intro-his h2 {
        font-size: 3.5rem;
    }
    #grecia-old div img,
    main #grecia-new img,
    #grecia-old img {
        max-width: 50rem;
        height: 50rem;
    }
    #grecia-old div img:hover {
        transform: scale(1.1);
    }
    #grecia-old div img,
    #grecia-new img,
    #grecia-old img {
        transition: transform .3s ease-in;
    }
    .direita-desktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        
    }
    
    .esquerda-desktop {
        display: flex;
        align-items: center;
        
    }
    #grecia-old .direita-desktop div h2,
    main #grecia-new .direita-desktop div h2,
    #grecia-old .esquerda-desktop div h2 {
        font-size: 4rem;
        margin-bottom: 5rem;
    }
    #grecia-old .direita-desktop div p,
    #grecia-old .esquerda-desktop div p,
    #grecia-old .esquerda-desktop div ul,
    main #grecia-new .direita-desktop div p,
    #grecia-old .direita-desktop div ul {
        font-size: 2rem;
    }
    main .link h2 {
        font-size: 3.5rem;
    }
    main .link a,
    main .intro-cul h2 {
        font-size: 2.5rem;
    }
    main #grecia-old h2 {
        font-size: 7rem;
    }
    
    #grecia-old .esparta-atenas div, 
    #grecia-old .esparta-atenas div img{
        
        width: fit-content;
    }
    
    
    .cards {
        max-width: 71rem;
        display: flex;
        justify-content: center;
        gap: 5rem;
        flex-wrap: wrap;
    }
}