
@import '../css/responsivity.css';
@import '../css/header-footer.css';

.fundo {
    background: url(https://images.memphistours.com/large/1220258310_monument-3388941_1920.jpg) no-repeat center top;
    background-size: cover;
    height:100vh;   
    
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 2rem;
    gap: 1rem;
}
.link h2 {
    font-size: 2rem;
    color: #0555ce;
    text-align: center;
    text-transform: uppercase;
}
.link a {
    font-size: 2rem;
    text-decoration: none;
    color: #0752c2;
}
.link a:hover{
    color: #0555cea4;
    cursor: pointer;
}
#grecia-old div,
#grecia-new div,
#grecia-new {
    padding: 2rem;
}
#grecia-old h2 {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}
#grecia-old div h2 {
    font-size: 2.5rem;
    text-transform: none;
    color: #0555ce;
    font-family: 'Red Hat Display', sans-serif;
}
#grecia-old div p, 
#grecia-new p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: justify;
}
#grecia-old div ul {
    font-size: 1.5rem;
    text-align: justify;
    list-style: none;
}
#grecia-old div img,
#grecia-new img,
#grecia-old img {
    width: 100%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    margin-block: 2.5rem;
    transition: transform .3s ease-in;
}
#grecia-old div img:hover {
    transform: scale(1.1);
}

#grecia-new h2 {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}

